.container{
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
  color: white;
  background: linear-gradient(180deg,  #ACBABB 0%, #000E5600 100%);
  /* overflow: hidden; */
}
.menu_icon{
    color: #fff;
    font-size: 500px;
}

.notes_icon {
    color: #fff;
}

.dash_header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #0F172A;
  padding: 0 0.5em;
  border-bottom: 1px solid white;
}

.dash_header__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.dash_header__container__small {
  max-width: 800px;
}

.dash_header__nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 0.5em;
  z-index: 1;
}

.dash_container {
  padding: 0.75em 0.5em 0.5em;
  flex-grow: 1;
}

.dash_footer {
  font-size: 1rem;
  position: sticky;
  bottom: 0;
  z-index: 1;
  background-color: #0F172A;
  padding: 0.5em;
  border-top: 1px solid white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 1em;
}

.dash_footer__button {
  font-size: 1rem;
  width: auto;
  height: auto;
}

.dash_header__title{
  font-family: sans-serif;
  color: #70a0e9;
}
.icon_button {
  width: 48px;
  height: 48px;
  font-size: 2.5rem;
  background-color: transparent;
  border: none;
  color: var(--COLOR);
  display: grid;
  place-content: center;
}

.icon_button:hover,
.icon_button:focus-visible {
  transform: scale(1.2);
}

.icon_button[disabled] {
  visibility: hidden;
}

@media screen and (max-width: 400px) {

  .dash_header__nav {
    gap: 0;
  }

  .icon_button {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) {

  .dash_header {
    padding: 0 1em;
  }

  .dash_container {
    padding: 1em;
  }
}
.bg{
  background: linear-gradient(180deg,  #ACBABB 0%, #000E5600 100%);
  
}
.sidebar
{
  height: 100vh !important;
}