@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || VARIABLES */

:root {
  /* COLORS */
  --BGCOLOR: #0F172A;
  --BORDER-COLOR: #FFF;
  --COLOR: #FFF;
  --ERROR: firebrick;
  --INACTIVE: lightgray;
  --LINK-COLOR: whitesmoke;
  --LINK-HOVER: rgba(245, 245, 245, 0.9);
  --NOTE-BGCOLOR: hsla(240, 64%, 27%, 0.65);
  --STATUS-COMPLETE: limegreen;
  --STATUS-OPEN: firebrick;
  --TABLE-BGCOLOR: #FFF;
  --TABLE-COLOR: #000;
  --INPUT-INVALID: #F00;
}

/* || UTILITY CLASSES */
.errmsg {
  display: inline-block;
  background-color: var(--TABLE-BGCOLOR);
  color: var(--ERROR);
  padding: 0.25em;
  margin-bottom: 0.5em;
}

.errmsg a:any-link {
  color: var(--ERROR);
  text-decoration: underline;
}

.nowrap {
  white-space: nowrap;
}

.icon-button {
  width: 48px;
  height: 48px;
  font-size: 2.5rem;
  background-color: transparent;
  border: none;
  color: var(--COLOR);
  display: grid;
  place-content: center;
}

.icon-button:hover,
.icon-button:focus-visible {
  transform: scale(1.2);
}

.icon-button[disabled] {
  visibility: hidden;
}

/* || GENERAL STYLES */

body {
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
  background-color: var(--BGCOLOR);
  color: var(--COLOR);
  background-size: cover;
  background-position: top right;
  background-blend-mode: multiply;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root {
  /* React root div */
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

a {
  text-decoration: none;
}

a:any-link {
  color: var(--LINK-COLOR);
  
}
.message{background-color: #0887d6;}

a:hover,
a:focus-visible {
  color: var(--LINK-HOVER);
}

/* || PAGES */

.public,
.welcome {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.public {
  padding: 1em;
  flex-grow: 1;
}

.public__main,
.login {
  flex-grow: 1;
  border-top: 2px solid var(--BORDER-COLOR);
  border-bottom: 2px solid var(--BORDER-COLOR);
  padding: 1em 0;
}

.public__addr {
  margin-top: 1em;
}

.welcome a::before {
  content: "➜ "
}

/* || DASH HEADER, CONTAINER & FOOTER */

.dash-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--BGCOLOR);
  padding: 0 0.5em;
  border-bottom: 1px solid var(--BORDER-COLOR);
}

.dash-header__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.dash-header__container--small {
  max-width: 800px;
}

.dash-header__nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 0.5em;
}

.dash-container {
  padding: 0.75em 0.5em 0.5em;
  flex-grow: 1;
}

.dash-footer {
  font-size: 1rem;
  position: sticky;
  bottom: 0;
  z-index: 1;
  background-color: var(--BGCOLOR);
  padding: 0.5em;
  border-top: 1px solid var(--BORDER-COLOR);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 1em;
}

.dash-footer__button {
  font-size: 1rem;
  width: auto;
  height: auto;
}

/* || TABLES - GENERAL */

thead,
tbody,
tr {
  display: contents;
}

.table {
  font-size: 1rem;
  width: 100%;
  padding-top: 40px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  color: var(--TABLE-COLOR);
  gap: 0.1em;
}

.table__button {
  padding: 0.25em;
  font-size: 1.5rem;
  color: var(--TABLE-COLOR);
}

.table__thead {
  position: sticky;
  top: 0px;
  z-index: 1;
}

.table__th,
.table__cell {
  background-color: var(--TABLE-BGCOLOR);
  text-align:center;
  border: 1px solid var(--TABLE-COLOR);
  padding: 0.5em;
}

.table__cell:last-child {
  display: grid;
  place-content: center;
}

.table__cell--inactive {
  background-color: var(--INACTIVE);
}

/* ||  NOTE */

.note__created,
.note__updated,
.note__username {
  display: none;
}

.note__status {
  font-weight: bold;
}

.note__status--open {
  color: var(--STATUS-OPEN);
}

.note__status--completed {
  color: var(--STATUS-COMPLETE);
}


/* || FORM - GENERAL */

.login-form {
  max-width: 400px;
  min-width: 50%;
}

.form__checkbox-container {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.5em;
}

.form__persist {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5em;
}

.form__title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__submit-button{
  border-radius: 8px;
  background: linear-gradient(134deg, #9181F4 0%, #5038ED 100%);
  box-shadow: 0px 10.666666984558105px 28px 0px rgba(0, 0, 0, 0.16);
}

.form__input
{
  border-radius: 8px;
  background: rgba(240, 237, 255, 0.80);
}
.ant-input{
  background: rgba(240, 237, 255, 0.80);
}

.form__input--text {
  min-height: 150px;
}

.form__input--incomplete {
  border: 1px solid var(--INPUT-INVALID);
  outline: 1px solid var(--INPUT-INVALID);
}

.form__checkbox {
  width: 24px;
  height: 24px;
}

.form__select {
  width: fit-content;
  padding: 0.25em;
}

.form__action-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
  position: absolute;
  right: 0.5em;
}

.form__row {
  display: flex;
  flex-flow: row nowrap;
  gap: 2em;
}

.form__divider {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;
}

.login_2ndcol{
  background: linear-gradient(180deg, #41528C 8.65%, rgba(142, 93, 93, 0.00) 96.15%);
}

.login_2ndcol_img{
  border-radius: 3.3rem;
}

.menu_icon{
  color: #fff;
  font-size: 500px;
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 2rem;
  }

  .dash-header__nav {
    gap: 0;
  }

  .icon-button {
    font-size: 1.5rem;
  }
}


@media screen and (min-width: 768px) {

  body {
    font-size: 1.25rem;
  }

  .dash-header {
    padding: 0 1em;
  }

  .dash-container {
    padding: 1em;
  }

  .table {
    font-size: 1.5rem;
  }

  .table--notes {
    grid-template-columns: repeat(3, 1fr) 2fr repeat(2, 1fr);
  }
  .note__title,
  .note__created,
  .note__updated,
  .note__username {
    display: block;
    
  }

  .form__action-buttons {
    position: static;
  }
}
.rectangle-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro);
  position: absolute;
  height: 15.18%;
  width: 98.94%;
  top: 0;
  right: 1.06%;
  bottom: 84.82%;
  left: 0;
  border-radius: var(--br-13xl);
}
.manage-rfq {
  position: absolute;
  width: 71.16%;
  top: 30.06px;
  left: 26.72%;
  display: inline-block;
  height: 45px;
}
.frame-child165 {
  position: absolute;
  height: 15.18%;
  width: 97.91%;
  top: 41.65%;
  right: 2.09%;
  bottom: 43.18%;
  left: 0;
  border-radius: var(--br-13xl);
  background-color: var(--color-gainsboro);
}
.deal-quality-calculation {
  position: absolute;
  height: 5.29%;
  width: 108.9%;
  top: 44.82%;
  left: 11.47%;
  display: inline-block;
}
.frame-child166 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro);
  position: absolute;
  height: 15.18%;
  width: 97.91%;
  top: 64.35%;
  right: 2.09%;
  bottom: 20.47%;
  left: 0;
  border-radius: var(--br-13xl);
}
.manage-work {
  margin: 0;
}
.manage-work-order-container {
  background-color: transparent;
  height: 5.29%;
  width: 43.64%;
  top: 66.14%;
  left: 29.18%;
  font-size: var(--font-size-21xl);
  font-weight: 700;
  font-family: var(--font-poppins);
  color: var(--color-black);
  white-space: pre-wrap;
  text-align: left;
  display: inline-block;
}
.back2,
.frame-child167,
.manage-work-order-container {
  cursor: pointer;
  border: 0;
  padding: 0;
  position: absolute;
}
.frame-child167 {
  background-color: var(--color-gainsboro);
  height: 15.18%;
  width: 97.91%;
  top: 84.82%;
  right: 2.09%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-13xl);
}
.back2 {
  background-color: transparent;
  bottom: 42.11px;
  left: calc(50% - 54.05px);
  font-size: var(--font-size-21xl);
  font-weight: 700;
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 108px;
  height: 45px;
}
.frame-child169 {
  position: absolute;
  height: 17.41%;
  width: 100%;
  top: 20.82%;
  right: 0;
  bottom: 61.76%;
  left: 0;
  border-radius: var(--br-13xl);
  background-color: #d4d4d4;
}
.manage-equipped-occupancy-container {
  position: absolute;
  height: 5.29%;
  width: 78.84%;
  top: 24.32%;
  left: 28.45%;
  display: inline-block;
}
.desktop-8,
.frame21 {
  position: relative;
  overflow: hidden;
}
.frame21 {
  width: 959.95px;
  height: 882.17px;
  flex-shrink: 0;
}
.desktop-8 {
  border-radius: 25px;
  background: linear-gradient(180deg, #aeafcd, rgba(174, 175, 205, 0));
  width: 100%;
  height: 1304px;
  display: flex;
  flex-direction: column;
  padding: 111.60516357421875px 594.4666137695312px;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.Notifications{

  color: rgb(240, 30, 30);
}
.sort-list {
  position: absolute;
  background-color: #F00;
  bottom: 60px;
  left: 25px;
  display: inline-block;
  width: 125px;
  height: 30px;
  
}
.desktop-16-child {
  position: absolute;
  top: 10px;
  left: 1247px;
  border-radius: 23px;
  background: linear-gradient(180deg, #0887d6, rgba(221, 221, 221, 0));
  width: 167px;
  height: 56px;
}
.desktop-16-item {
  position: absolute;
  top: 127px;
  left: 79px;
  border-radius: 23px;
  background-color: #e8a2a2;
  width: 1288px;
  height: 35px;
}

.back1 {
  position: absolute;
  top: 21px;
  left: 1308px;
  display: inline-block;
  width: 106px;
  height: 55px;

}

.b,
.order-id,
.period,
.status {
  color: #d4d4d4;
  position: absolute;
  top: 8px;
  left: 75px;
  display: inline-block;
  width: 196px;
  height: 55px;
}
.b{
  top: 129px;
  left: 101px;
  width: 120px;
  height: 87px;
}
.order-id,
.period,
.status {
  top: 66px;
  left: 850px;
  width: 151px;
  height: 70px;
}
.order-id,
.status {
  left: 110px;
    width: 197px;
}
.status {
  top: 63px;
  left: 1300px;
}
.desktop-16 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.dash-header__title{
  font-family: sans-serif;
  color: #70a0e9;
}
